language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0

env:
    - SYMFONY_VERSION=2.7.*
    - SYMFONY_VERSION=2.8.*
    - SYMFONY_VERSION=3.0.*

before_install:
    - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
    - composer require symfony/validator:${SYMFONY_VERSION} --no-update

install: composer install --prefer-dist --no-interaction

script: phpunit

